<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="bot_ros2_control" params="name prefix">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>diffdrive_bot/DiffBotSystemHardware</plugin>
        <param name="l_drive_name">left_wheel_joint</param>
        <param name="l_serial_port">/dev/ttyACM0</param>
        <param name="l_baud">9600</param>
        <param name="l_stop_bit">1</param>
        <param name="l_data_bit">8</param>
        <param name="l_parity">E</param>
        <param name="l_slave_id">2</param>
        <param name="l_gear_ratio">20</param>

        <param name="r_drive_name">right_wheel_joint</param>
        <param name="r_serial_port">/dev/ttyACM0</param>
        <param name="r_baud">9600</param>
        <param name="r_stop_bit">1</param>
        <param name="r_data_bit">8</param>
        <param name="r_parity">E</param>
        <param name="r_slave_id">1</param>
        <param name="r_gear_ratio">20</param>
      </hardware>
      <joint name="${prefix}left_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}right_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>

  </xacro:macro>

</robot>