<?xml version="1.0"?>
<robot name="open_manipulator_x" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find-pkg-share description)/urdf/open_manipulator_x.xacro" />
  

  <link name="world"/>

  <xacro:open_manipulator_x parent="world">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:open_manipulator_x>

  <ros2_control name="GazeboSimSystem" type="system">
    <hardware>
        <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>
    <joint name="joint1">
      <command_interface name="position">
        <param name="initial_value">0</param>
        <param name="min">-2.826</param> 
        <param name="max">2.826</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>
    <joint name="joint2">
      <command_interface name="position">
        <param name="initial_value">0</param>
        <param name="min">-1.7898</param> 
        <param name="max">1.6878</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>
    <joint name="joint3">
      <command_interface name="position">
        <param name="initial_value">0</param>
        <param name="min">-0.942</param> 
        <param name="max">1.3816</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>
    <joint name="joint4">
      <command_interface name="position">
        <param name="initial_value">0</param>
        <param name="min">-1.7898</param> 
        <param name="max">2.041</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>
    <joint name="gripper">
      <command_interface name="position">
        <param name="initial_value">0</param>
        <param name="min">-0.010</param> 
        <param name="max">0.019</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0</param>
      </state_interface>
      <state_interface name="velocity"/>
    </joint>
  </ros2_control>
  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
      <robot_sim_type>gazebo_ros2_control/GazeboSystem</robot_sim_type>
      <parameters>$(find description)/controllers/controllers.yaml</parameters>
    </plugin>
  </gazebo>
</robot>
